.analysis-view .analysis-header {
    height: 40px;
    background: #333333;
    color: #ffffff;
}

.analysis-view .productTitle,
.analysis-view .toolbar-item {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.analysis-view .toolbar-item:hover {
    background: #222222;
}

.analysis-view .analysis-header [class*='foundicon-'] {
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.analysis-view .analysis-header [class*='foundicon-']:hover {
    background: #222222;
}

.analysis-view .title {
    background: #007095;
    color: white;
    padding-left: 20px;
    line-height: initial;
}

.analysis-view table td:hover {
    background: #008CBA;
    color: white;
    cursor: pointer;
}

.analysis-view .conditions-holder {
    width: 250px;
    border-left: 1px solid #007095;
}