.data-canvas-view .data-canvas-item-view {
    background: #008CBA;
    color: white;
    cursor: default;
    width: 150px;
    padding-left: 25px;
    position: absolute;
}

.canvas-items-holder {
    position: relative;
}


.data-canvas-view .data-canvas-item-view i.remove {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

.data-canvas-view .data-canvas-item-view .table-name {
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}