.data-canvas-view .data-canvas-item-view {
    position: absolute;
    z-index: 1;
    width: 200px;
}
.data-canvas-view .data-canvas-item-view.z2 {
    z-index: 2;
}

.data-canvas-view .data-canvas-item-view .title {
    background: #008CBA;
    color: white;
    cursor: default;
    padding: 6px 25px;
}

.data-canvas-view .data-canvas-item-view ul {
    margin: 0;
    position: absolute;
    width: 200px;
    border: 1px solid #008CBA;
    top: 30px;
    left: 0;
    max-height: 200px;
    overflow: auto;
    background: white;
}
.data-canvas-view .data-canvas-item-view li label {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #008CBA;
    white-space: nowrap;
}

.data-canvas-view .data-canvas-item-view li input {
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
}

.canvas-items-holder {
    position: relative;
}


.data-canvas-view .data-canvas-item-view i.remove {
    position: absolute;
    left: 5px;
    cursor: pointer;
}

.data-canvas-view .data-canvas-item-view i.settings {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.data-canvas-view .data-canvas-item-view .table-name {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}