.dialog,
.dialog .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog .mask {
    background: black;
    z-index: 1;
    opacity: .3;
}
.dialog .dialog-container {
    background: white;
    min-width: 500px;
    max-width: 1000px;
    z-index: 1;
    position: absolute;
}
.dialog .dialog-container .dialog-title {
    background: #008CBA;
    padding-left: 20px;
    color: white;
}

.dialog .dialog-container .dialog-title.error {
    background: #f04124;
}

.dialog .dialog-container .dialog-title i {
    margin-right: 10px;
}

.dialog .dialog-container .dialog-body {
    padding: 20px;
}

.dialog .dialog-container .dialog-bottom-bar {
    border-top: 1px solid #e1e1e1;
    padding: 20px 20px 0;
}

.dialog .dialog-container .dialog-bottom-bar button {
    margin-left: 20px;
}