.domain-designer-view .domain-designer-header {
    height: 40px;
    background: #333333;
    color: #ffffff;
}

.domain-designer-view .domain-designer-title {
    display: inline-block;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.domain-designer-view .domain-designer-header [class*='foundicon-'] {
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.domain-designer-view .domain-designer-header [class*='foundicon-']:hover {
    background: #222222;
}

.domain-designer-view .title {
    background: #007095;
    color: white;
    padding-left: 20px;
    line-height: initial;
}