.domain-designer-view .domain-designer-header {
    height: 40px;
    background: #333333;
    color: #ffffff;
}

.domain-designer-view .productTitle,
.domain-designer-view .toolbar-item {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
}

.domain-designer-view .toolbar-item:hover {
    background: #222222;
}

.domain-designer-view .title {
    background: #007095;
    color: white;
    padding-left: 20px;
    line-height: initial;
}

.domain-designer-view .sidebar {
    border-right: 1px solid #007095;
}