.domains.row {
    margin-top: 20px;
}

.domains ul {
    list-style: none;
    margin: 0;
    border: 1px solid #e9e9e9;
}

.domains li {
    background: white;
    color: #008CBA;
    line-height: 50px;
    text-indent: 40px;
    border-bottom: 1px solid #e9e9e9;
}

.domains li:hover {
    color: #1cc7ff;
}

.domains li span {
    padding-left: 20px;
}

.domains .domain:hover {
    cursor: pointer;
}

.domains li .connection,
.domains li .foundicon-trash,
.domains li .foundicon-settings {
    cursor: pointer;
}

.domains i {
    font-size: 20px;
}


.domains li:hover:before {
    display: block;
    position: absolute;
    content: '';
    width: 5px;
    height: 50px;
    background: #008CBA;
}

.domains li:last-child {
    background: white;
    border-bottom: none;
}