.tables-view {
    border-right: 1px solid #007095;
}

.tables-view .title {
    line-height: initial;
    background: #007095;
}

.tables-view ul {
    overflow: auto;
}

.tables-view ul li span {
    padding-left: 10px;
}

.tables-view ul li i {
    position: relative;
    top: 3px;
}