.tables-view {

}

.tables-view .title {
    line-height: initial;
    background: #007095;
}

.tables-view ul {
    overflow: auto;
    margin: 0;
}

.tables-view li {
    padding-left: 20px;
    color: #008CBA;
    cursor: move;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tables-view li:last-child {
    border-bottom: 0;
}

.tables-view ul li span {
    padding-left: 10px;
}

.tables-view ul li i {
    position: relative;
    top: 3px;
}

.tables-view ul li > div {
    overflow: hidden;
    text-overflow: ellipsis;
}