<div class="join-types">
    <div class="join-type-inner {{= joinType === 'inner' ? 'active' : '' }}"></div>
    <div class="join-type-outer"></div>
    <div class="join-type-right"></div>
    <div class="join-type-left"></div>
    <div class="join-type-full"></div>
</div>
<div class="endpoint-description">source</div>
<div>
    <div class="column medium-6">
        <select name="sourceTable">
            <option value="{{- sourceTable }}">{{- sourceTable }}</option>
        </select>
    </div>
    <div class="column medium-6">
        <select name="sourceColumn">
            <option value="{{- sourceColumn }}">{{- sourceColumn }}</option>
        </select>
    </div>
</div>
<div class="endpoint-description">target</div>
<div>
    <div class="column medium-6">
        <select name="targetTable">
            <option value="{{- targetTable }}">{{- targetTable }}</option>
        </select>
    </div>
    <div class="column medium-6">
        <select name="targetColumn">
            <option value="{{- sourceColumn }}">{{- sourceColumn }}</option>
        </select>
    </div>
</div>
<div>
    <button class="right">Done</button>
</div>