<div class="title text-center">
    Preview
</div>
<div class="content">
    <table class="column full">
        <thead>
        <tr>
            {{ _.each(result[0], function (value, key) { }}
            <th>{{- key }}</th>
            {{ }) }}
        </tr>
        </thead>
        <tbody>
        {{ _.each(result, function (row) { }}
        <tr>
            {{ _.each(row, function (value, key) { }}
            <td>{{- value }}</td>
            {{ }) }}
        </tr>
        {{ }) }}
        </tbody>
    </table>
</div>
