body {
    background: #ffffff;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

ul {
    list-style: none;
}

.column {
    padding: 0;
}

/*splash screen*/

.splash-screen {
    background: #007095;
}
.splash-screen:after {
    position: absolute;
    content: '';
    height: 128px;
    width: 128px;
    top: 45%;
    left: 45%;
    z-index: 1;
    background: url("../../img/loading_128.png") no-repeat center;
    -webkit-animation-name: splash-screen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: splash-screen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes splash-screen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes splash-screen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}