.chart-drop-zone-view {
    position: absolute;
    top: 10px;
    left: 10px;
}
.chart-drop-zone-view .y-zone {
    width: 50px;
    box-shadow: 5px 5px 20px gray;
    float: left;
    background-color: #1cc7ff;
}
.chart-drop-zone-view .center-zone {
    width: 300px;
    background: transparent;
    float: left;
}
.chart-drop-zone-view .zero-zone {
    height: 50px;
    width: 50px;
    float: left;
    background: transparent;
}
.chart-drop-zone-view .x-zone {
    height: 50px;
    float: left;
    box-shadow: 5px 5px 20px gray;
    background-color: #00d6b2;
}