.library {
    margin-top: 10px;
}

.library ul {
    list-style: none;
    margin: 0;
    border: 1px solid #e9e9e9;
}

.library li {
    background: white;
    color: #008CBA;
    line-height: 50px;
    cursor: pointer;
    text-indent: 40px;
    border-bottom: 1px solid #e9e9e9;
}

.library li:hover:before {
    display: block;
    position: absolute;
    content: '';
    width: 5px;
    height: 50px;
    background: #008CBA;
}

.library li:last-child {
    background: white;
    border-bottom: none;
}

.library .removeBtn,
.library .editBtn {
    height: 50px;
    margin-bottom: 0;
}