<div class="header clearfix">
    <div class="title left">
        <a href="#library">Tamanoir</a>
    </div>
    <div class="toolbar">
        <i class="foundicon-graph"></i>
    </div>
</div>
<div class="designer">
    <div class="toolbar-holder"></div>
    <div>
        <div class="sidebar-holder"></div>
        <div class="canvas-holder">
            <div class="column-settings-holder"></div>
            <div class="charts-holder"></div>
            <div class="table-holder"></div>
        </div>
    </div>
</div>