<div class="dialog">
    <div class="mask"></div>
    <div class="dialog-container">
        <div class="dialog-title">
            {{ if (icon) { }}<i class="foundicon-{{- icon }}"></i>{{ } }}
            <span>{{- title }}</span>
        </div>
        <div class="dialog-body"></div>
        {{ if (buttons.length) { }}
        <div class="dialog-bottom-bar clearfix">
            {{ _.each(buttons, function (button) { }}
            <button data-action="{{- button.action }}" class="right">{{- button.label }}</button>
            {{ }) }}
        </div>
        {{ } }}
    </div>
</div>