<div class="domain-designer-header">
    <div class="domain-designer-title">Tamanoir</div>
    <div class="domain-designer-user-profile foundicon-settings right"></div>
</div>
<div class="domain-designer-content">
    <div class="top-section">
        <div class="sidebar left"></div>
        <div class="data-canvas">
            <div class="title">Data canvas</div>
        </div>
    </div>
    <div class="middle-section">
        <div class="title">Dataset preview</div>
        <div></div>
    </div>
    <div class="bottom-section">
        <div class="title">Table preview</div>
    </div>
</div>