<div class="header clearfix">
    <div class="title left">
        <a href="#library">Tamanoir</a>
    </div>
    <div class="toolbar-holder left"></div>
</div>
<div class="row">
    <form class="column medium-10 medium-centered">
        <div class="row">
            <div class="medium-12 columns">
                <label>type
                    <select name="type">
                        <option value="jdbc" {{= type === 'jdbc' ? 'selected' : '' }}>jdbc</option>
                        <option value="csv" {{= type === 'csv' ? 'selected' : '' }}>csv</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>name
                    <input type="text" placeholder="input domain name" name="name" value="{{- name }}"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>url
                    <input type="text" placeholder="input domain url" name="url" value="{{- url }}"/>
                </label>
            </div>
        </div>
        <div class="jdbc-controls">
            <div class="row">
                <div class="medium-12 columns">
                    <label>login
                        <input type="text" placeholder="user" name="user" value="{{- properties.user }}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label>password
                        <input type="password" placeholder="password" name="password" value="{{- properties.password }}"/>
                    </label>
                </div>
            </div>
            <div class="row hide">
                <div class="medium-12 columns">
                    <label>native query</label>
                    <textarea name="nativeQuery" id="" cols="30" rows="10">{{- nativeQuery }}</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="column medium-10 medium-centered">
        <button class="save">Save</button>
    </div>
</div>