<div class="header">
    <i class="close foundicon-remove pointer"></i><span>Edit reference for <strong>{{- name }}</strong></span>
</div>
<div class="content">
    <label class="label">Table</label>
    <select name="table">
        <option value=""></option>
        {{ _.each(this.tables, _.bind(function (table) { }}
        <option value="{{- table.name }}" {{= table.name === this.table ? 'selected' : '' }}>{{- table.name }}</option>
        {{ }, this)) }}
    </select>
    <label class="label">Column</label>
    <select name="column">
        <option value=""></option>
        {{ _.each(this.columns, function (column) { }}
        <option value="{{- column.name }}" {{= column.name === this.column ? 'selected' : '' }}>{{- column.name }}</option>
        {{ }) }}
    </select>
    <button class="save small">Save</button>
</div>
