<div class="home-header text-center">PostgreSQL</div>
<form>
    <input type="text" placeholder="name" name="name" value="{{- name }}"/>
    <input type="text" placeholder="server" name="server" value="{{- server }}"/>
    <input type="text" placeholder="port" name="port" value="{{- port }}"/>
    <input type="text" placeholder="database" name="database" value="{{- database }}"/>
    <input type="text" placeholder="user" name="user" value="{{- user }}"/>
    <input type="password" placeholder="password" name="password" value="{{- password }}"/>
</form>
{{ if (url) { }}
<button class="connect">connect</button>
{{ } else { }}
<button class="save">save</button>
{{ } }}
