<div class="home-header">
    <div class="home-title">Tamanoir</div>
    <div class="home-user-profile foundicon-settings right"></div>
</div>
<div class="home-content">
    <div class="home-sidebar left">
        <div class="text-center button newConnection">New Connection</div>
    </div>
    <div class="home-datasources left hide">
        <div class="home-datasource-types">
            <div class="home-header text-center">Available datasource types</div>
            <ul>
                <li data-datasource-type="postgresql">PostgreSQL</li>
            </ul>
        </div>
    </div>
    <div class="home-datasource-settings left"></div>
</div>