<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>
            <section class="middle tab-bar-section">
                <a href="#home"><h1 class="title">Tamanoir</h1></a>
            </section>
        </nav>
        <section class="main-section">
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>
