<div class="layout">
    <div class="main-header clearfix">
        <ul class="text-center">
            <li><a href="#library"><i class="foundicon-home"></i></a></li>
            <li class="graph">
                <i class="foundicon-graph"></i>
                <ul class="menu">
                    <li>table</li>
                    <li>line</li>
                    <li>bar</li>
                    <li>pie</li>
                </ul>
            </li>
        </ul>
        <div class="title right">Tamanoir</div>
    </div>
    <div class="main-content"></div>
</div>