<table class="column full">
    <thead>
    <tr>
        {{ _.each(data[0], function (value, key) { }}
        {{ if (metadata.get(key).get('hidden')) return }}
        <th class="" draggable="true" data-reference-to="{{- metadata.get(key).get('referenceTo') }}" data-belong-to="{{- metadata.get(key).get('belongTo') }}" data-name="{{- key }}">
            {{- key }}<i class="foundicon-remove pointer"></i>{{= metadata.get(key).get('referenceTo') ? '<i class="foundicon-paper-clip pointer"></i>' : '' }}
        </th>
        {{ }) }}
    </tr>
    </thead>
    <tbody>
    {{ _.each(data, function (item) { }}
    <tr>
        {{ _.each(item, function (value, key) { }}
        {{ if (metadata.get(key).get('hidden')) return }}
        <td>{{- value }}</td>
        {{ }) }}
    </tr>
    {{ }) }}
    </tbody>
</table>