<table class="column full">
    <thead>
    <tr>
        {{ _.each(data[0], function (header, key) { }}
        <th data-reference-to="{{- metadata[key].referenceTo }}" data-belong-to="{{- metadata[key].belongTo }}" data-name="{{- key }}">
            {{- key }}{{= metadata[key].referenceTo ? '<i class="foundicon-paper-clip pointer"></i>' : '' }}
        </th>
        {{ }) }}
    </tr>
    </thead>
    <tbody>
    {{ _.each(data, function (item) { }}
    <tr>
        {{ _.each(item, function (value) { }}
        <td>{{- value }}</td>
        {{ }) }}
    </tr>
    {{ }) }}
    </tbody>
</table>