.sidebar {
    line-height: 40px;
}

.sidebar .title {
    background: #008CBA;
    color: white;
}

.sidebar ul {
    list-style: none;
    margin: 0;
}

.sidebar li {
    background: white;
    color: #008CBA;
    border-bottom: 1px solid #f1f1f1;
}

.sidebar li:last-child {
    border-bottom: 0;
}

.sidebar ul {
    overflow: auto;
}