.tableView tbody tr:nth-child(even){
    background: #F1F1F1;
}

.tableView thead tr th{
    background: #e1e1e1;
    cursor: move;
}

.tableView {
    overflow: auto;
}

.tableView {
    background: #e1e1e1;
}

.tableView .title {
    font-weight: bold;
    line-height: 1.5em;
    padding-left: 20px;
}

.tableView th i {
    margin-left: 10px;
}