.toolbar {
    background: #333333;
}

.toolbar {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.toolbar > li {
    line-height: 45px;
    font-size: 1.5em;
    width: 45px;
    cursor: pointer;
    height: 45px;
    position: relative;
}

.toolbar > li a {
    color: white;
}

.toolbar > li:hover {
    background: #222222;
}

.toolbar .menu {
    position: absolute;
    background: #222222;
    min-width: 150px;
    display: none;
    z-index: 1;
    margin: 0;
    top: 45px;
    left: 0;
}

.toolbar .menu li {
    line-height: 40px;
}

.toolbar > li:hover .menu {
    display: inherit;
}

.toolbar .menu li:hover {
    background: #333333;
}