.toolbar {
    background: #333333;
}

.toolbar {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.toolbar > li {
    line-height: 45px;
    font-size: 1.5em;
    width: 45px;
    cursor: pointer;
    height: 45px;
    position: relative;
}

.toolbar > li a {
    color: white;
}

.toolbar > li:hover {
    background: #222222;
}