.header .toolbar i {
    line-height: 45px;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.header .toolbar i:hover {
    background: #222222;
}