.table-view {
    background: #e1e1e1;
    overflow: auto;
    position: relative;
    padding-top: 12px;
}

.table-view tbody tr:nth-child(even){
    background: #F1F1F1;
}

.table-view table {
    width: 100%;
    border: 0;
    border-spacing: 0;
}

.table-view td {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    padding: 1px 5px;
    border-left: 1px solid gainsboro;
}

.table-view th {
    min-width: 150px;
}

.table-view th .inner {
    position: absolute;
    color: white;
    padding: 1px 5px;
    background: #007095;
    margin-left: -10px;
    border-left: 1px solid white;
    line-height: 28px;
    top: 0;
}

.table-view th:first-child .inner {
    border-left: none;
}

.table-view .header {
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    background: #007095;
}