.tables-view {

}

.tables-view .title {
    line-height: initial;
    background: #007095;
}

.tables-view ul {
    overflow: auto;
    margin: 0;
}

.tables-view li {
    padding-left: 20px;
    color: #008CBA;
    cursor: move;
    white-space: nowrap;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tables-view .tamanoir-icon-table {
    display: inline-block;
    height: 32px;
    position: relative;
    top: 3px;
    width: 32px;
    background: url('../img/table_48x48.png') no-repeat;
    background-size: 32px;
}

.tables-view li:last-child {
    border-bottom: 0;
}

.tables-view ul li span {
    padding-left: 10px;
    position: relative;
    top: -8px;
}

.tables-view ul li > div {
    overflow: hidden;
    text-overflow: ellipsis;
}