.sidebar {
}

.sidebar .title {
    background: #008CBA;
    color: white;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    border: 1px solid #e9e9e9;
}

.sidebar li {
    background: white;
    color: #008CBA;
    line-height: 30px;
    border-bottom: 1px solid #e9e9e9;
}

.sidebar li:last-child {
    border-bottom: none;
}