.toolbar {
    background: #444444;
}

.toolbar .toolbar-item {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    color: #ffffff;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
}

.toolbar .toolbar-item:hover {
    background: #333333;
}

.toolbar .toolbar-item .menu {
    display: none;
    position: absolute;
    color: #ffffff;
    background: #333333;
    width: 150px;
    z-index: 1;
    top: 40px;
}

.toolbar .toolbar-item:hover .menu {
    display: block;
}

.toolbar .toolbar-item .menu ul {
    list-style: none;
    margin: 0;
}

.toolbar .toolbar-item .menu ul li {
    height: 40px;
    line-height: 40px;
}

.toolbar .toolbar-item .menu ul li:hover {
    background: #008CBA;
}